{
  "openapi": "3.1.0",
  "info": {
    "version": null,
    "title": "ThinQ API"
  },
  "servers": [
    {
      "url": "https://api-kic.lgthinq.com"
    },
    {
      "url": "https://api-aic.lgthinq.com"
    },
    {
      "url": "https://api-eic.lgthinq.com"
    }
  ],
  "tags": [
    {
      "name": "PAT(Personal Access Token)",
      "description": "ThinQ API를 호출하기 위해 사용되는 개인 식별 토큰입니다.  개인적이고 비상업적 목적으로만 개인 권한 토큰을 사용할 수 있습니다. 개인 권한 토큰을 사용하여 LG전자가 허용하지 않은 추가 서비스를 개발하고자 하는 경우, LG전자와 이러한 잠재적 추가 서비스에 대해 논의하고 LG전자로부터 서면 동의를 받아야 합니다.\n  1. https://connect-pat.lgthinq.com 페이지를 방문하세요.\n  2. ThinQ 계정 로그인을 합니다.\n  3. \"새 토큰 만들기\" 버튼을 선택합니다.\n  4. 토큰 이름을 입력합니다.\n  5. 권한 범위에서 해당 토큰이 사용하고자 하는 기능에 대해서 선택합니다.\n  6. \"토큰 만들기\" 버튼을 누르면 토큰이 생성되고, PAT 페이지로 돌아갑니다.\n  7. 새로 생성된 토큰을 복사해서 사용합니다.\n"
    },
    {
      "name": "Base URL",
      "description": "ThinQ API는 고객의 디바이스의 위치에 따라 Base URL을 구분하고 있습니다. <br>  따라서 고객의 디바이스가 위치하는 지역을 고려해, ThinQ API 호출 시 아래 Base URL을 선택하여 적용해주십시오. \n\n  |Region|ThinQ API|\n  |-|-|\n  |South Asia, East Asia and Pacific|https://api-kic.lgthinq.com|\n  |America|https://api-aic.lgthinq.com|\n  |Europe, Middle East, Africa|https://api-eic.lgthinq.com|\n"
    },
    {
      "name": "Route API",
      "description": "ThinQ Backend 도메인 이름을 조회하기 위한 API입니다.\n"
    },
    {
      "name": "Device API",
      "description": "ThinQ 디바이스 정보를 요청하고 제어하기 위한 API입니다.\n"
    },
    {
      "name": "Push API",
      "description": "ThinQ 디바이스에서 발생하는 푸시 메시지를 구독/해제하기 위한 API입니다.\n"
    },
    {
      "name": "Event API",
      "description": "ThinQ 디바이스에서 발생한 상태 변경에 대한 이벤트 메시지를 구독/해제하기 위한 API입니다.\n"
    },
    {
      "name": "Client API",
      "description": "ThinQ 디바이스에서 전달하는 메시지를 받기 위한 사용자 디바이스 인증서 발급/등록을 위한 API입니다. \n"
    },
    {
      "name": "Energy API",
      "description": "ThinQ 가전 디바이스에서 제공하는 에너지 데이터를 조회하기 위한 API입니다.\n"
    },
    {
      "name": "Push Message",
      "description": "푸쉬 메시지는 다음 4가지 상황을 알리기 위해, 디바이스가 비주기적으로 발생시키는 메시지입니다. \n  1. 디바이스 등록\n  2. 디바이스 삭제\n  3. 디바이스 닉네임 변경 \n  4. 디바이스 동작 완료 (예: 세탁 완료)/ 부품 교체 (예: 필터 교체)\n\n## 디바이스 등록 메시지\n<SchemaDefinition\n  schemaRef=\"#/components/schemas/push_message_register_device\"\n  exampleRef=\"#/components/examples/push_message_register_device_example\" />\n\n## 디바이스 삭제 메시지\n<SchemaDefinition\n  schemaRef=\"#/components/schemas/push_message_delete_device\"\n  exampleRef=\"#/components/examples/push_message_delete_device_example\" />\n\n## 디바이스 닉네임 변경 메시지\n<SchemaDefinition\n  schemaRef=\"#/components/schemas/push_message_change_nickname\"\n  exampleRef=\"#/components/examples/push_message_change_nickname_example\" />\n\n## 디바이스 동작 완료 메시지\n<SchemaDefinition\n  schemaRef=\"#/components/schemas/push_message_complete_operation\"\n  exampleRef=\"#/components/examples/push_message_complete_operation_example\" />\n"
    },
    {
      "name": "Event Message",
      "description": "이벤트 메시지는 디바이스의 상태가 변경될 때 발생하는 메시지입니다.\n## 이벤트 메시지\n<SchemaDefinition\n  schemaRef=\"#/components/schemas/event_message\"\n  exampleRef=\"#/components/examples/event_message_example\" />\n"
    }
  ],
  "paths": {
    "/route": {
      "get": {
        "tags": [
          "Route API"
        ],
        "summary": "도메인 이름 조회",
        "description": "ThinQ Platform에 Backend 주소를 얻어오기 위한 API입니다. 리전 별, 형상 별 도메인 이름을 조회합니다.\n",
        "parameters": [
          {
            "required": true,
            "$ref": "#/components/parameters/x-message-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-country"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-service-phase"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-api-key"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/route-res"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/devices": {
      "get": {
        "tags": [
          "Device API"
        ],
        "summary": "디바이스 목록 조회",
        "description": "ThinQ Platform에 등록한 디바이스 목록을 얻어오기 위한 API입니다. 다른 API를 사용하기 전에 반드시 한 번은 호출되어야 합니다.  해당 API가 응답한 디바이스 목록에는 디바이스를 식별할 수 있는 device-id가 포함되어 있으며, 이 값으로 대상 디바이스를 지정하여 다른 디바이스 API를 호출할 수 있습니다.  따라서 이 API는 반드시 최초 1번은 호출되어야 하며, 디바이스 목록을 확인 후에는 매번 호출할 필요 없습니다.\n",
        "parameters": [
          {
            "required": true,
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-message-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-country"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-client-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-api-key"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/device-list-res"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/devices/{deviceId}/profile": {
      "get": {
        "tags": [
          "Device API"
        ],
        "summary": "디바이스 프로파일 조회",
        "description": "디바이스 프로파일을 조회하기 위한 API입니다. 디바이스 프로파일은 LG 가전의 속성을 기술한 정보로, LG ThinQ 플랫폼이 사용하는 디바이스 데이터입니다.\n",
        "parameters": [
          {
            "required": true,
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-message-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-country"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-client-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-api-key"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/device-profile-res"
                },
                "examples": {
                  "냉장고": {
                    "$ref": "#/components/examples/refrigerator-profile-example"
                  },
                  "정수기": {
                    "$ref": "#/components/examples/water_purifier-profile-example"
                  },
                  "와인냉장고": {
                    "$ref": "#/components/examples/wine_cellar-profile-example"
                  },
                  "김치냉장고": {
                    "$ref": "#/components/examples/kimchi_refrigerator-profile-example"
                  },
                  "맥주제조기": {
                    "$ref": "#/components/examples/home_brew-profile-example"
                  },
                  "식물재배기": {
                    "$ref": "#/components/examples/plant_cultivator-profile-example"
                  },
                  "세탁기": {
                    "$ref": "#/components/examples/washer-profile-example"
                  },
                  "건조기": {
                    "$ref": "#/components/examples/dryer-profile-example"
                  },
                  "스타일러": {
                    "$ref": "#/components/examples/styler-profile-example"
                  },
                  "식기세척기": {
                    "$ref": "#/components/examples/dish_washer-profile-example"
                  },
                  "워시타워 (세탁기)": {
                    "$ref": "#/components/examples/washtower_washer-profile-example"
                  },
                  "워시타워 (건조기)": {
                    "$ref": "#/components/examples/washtower_dryer-profile-example"
                  },
                  "워시타워": {
                    "$ref": "#/components/examples/washtower-profile-example"
                  },
                  "워시콤보세탁기": {
                    "$ref": "#/components/examples/main_washcombo-profile-example"
                  },
                  "워시콤보미니세탁기": {
                    "$ref": "#/components/examples/mini_washcombo-profile-example"
                  },
                  "오븐": {
                    "$ref": "#/components/examples/oven-profile-example"
                  },
                  "쿡탑": {
                    "$ref": "#/components/examples/cooktop-profile-example"
                  },
                  "후드": {
                    "$ref": "#/components/examples/hood-profile-example"
                  },
                  "전자레인지": {
                    "$ref": "#/components/examples/microwave_oven-profile-example"
                  },
                  "에어컨": {
                    "$ref": "#/components/examples/air_conditioner-profile-example"
                  },
                  "시스템보일러": {
                    "$ref": "#/components/examples/system_boiler-profile-example"
                  },
                  "공기청정기": {
                    "$ref": "#/components/examples/air_purifier-profile-example"
                  },
                  "제습기": {
                    "$ref": "#/components/examples/dehumidifier-profile-example"
                  },
                  "가습기": {
                    "$ref": "#/components/examples/humidifier-profile-example"
                  },
                  "온수기": {
                    "$ref": "#/components/examples/water_heater-profile-example"
                  },
                  "실링팬": {
                    "$ref": "#/components/examples/ceiling_fan-profile-example"
                  },
                  "공기청정팬": {
                    "$ref": "#/components/examples/air_purifier_fan-profile-example"
                  },
                  "로봇청소기": {
                    "$ref": "#/components/examples/robot_cleaner-profile-example"
                  },
                  "스틱청소기": {
                    "$ref": "#/components/examples/stick_cleaner-profile-example"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/devices/{deviceId}/state": {
      "get": {
        "tags": [
          "Device API"
        ],
        "summary": "디바이스 상태 조회",
        "description": "디바이스 현재 상태를 조회하기 위한 API입니다. 지정한 device-id의 현재 상태를 얻어올 수 있습니다.",
        "parameters": [
          {
            "required": true,
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-message-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-country"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-client-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-api-key"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/device-state-res"
                },
                "examples": {
                  "냉장고": {
                    "$ref": "#/components/examples/refrigerator-object-example"
                  },
                  "정수기": {
                    "$ref": "#/components/examples/water_purifier-object-example"
                  },
                  "와인냉장고": {
                    "$ref": "#/components/examples/wine_cellar-object-example"
                  },
                  "김치냉장고": {
                    "$ref": "#/components/examples/kimchi_refrigerator-object-example"
                  },
                  "맥주제조기": {
                    "$ref": "#/components/examples/home_brew-object-example"
                  },
                  "식물재배기": {
                    "$ref": "#/components/examples/plant_cultivator-object-example"
                  },
                  "세탁기": {
                    "$ref": "#/components/examples/washer-object-example"
                  },
                  "건조기": {
                    "$ref": "#/components/examples/dryer-object-example"
                  },
                  "스타일러": {
                    "$ref": "#/components/examples/styler-object-example"
                  },
                  "식기세척기": {
                    "$ref": "#/components/examples/dish_washer-object-example"
                  },
                  "워시타워 (세탁기)": {
                    "$ref": "#/components/examples/washtower_washer-object-example"
                  },
                  "워시타워 (건조기)": {
                    "$ref": "#/components/examples/washtower_dryer-object-example"
                  },
                  "워시타워": {
                    "$ref": "#/components/examples/washtower-object-example"
                  },
                  "워시콤보세탁기": {
                    "$ref": "#/components/examples/main_washcombo-object-example"
                  },
                  "워시콤보미니세탁기": {
                    "$ref": "#/components/examples/mini_washcombo-object-example"
                  },
                  "오븐": {
                    "$ref": "#/components/examples/oven-object-example"
                  },
                  "쿡탑": {
                    "$ref": "#/components/examples/cooktop-object-example"
                  },
                  "후드": {
                    "$ref": "#/components/examples/hood-object-example"
                  },
                  "전자레인지": {
                    "$ref": "#/components/examples/microwave_oven-object-example"
                  },
                  "에어컨": {
                    "$ref": "#/components/examples/air_conditioner-object-example"
                  },
                  "시스템보일러": {
                    "$ref": "#/components/examples/system_boiler-object-example"
                  },
                  "공기청정기": {
                    "$ref": "#/components/examples/air_purifier-object-example"
                  },
                  "제습기": {
                    "$ref": "#/components/examples/dehumidifier-object-example"
                  },
                  "가습기": {
                    "$ref": "#/components/examples/humidifier-object-example"
                  },
                  "온수기": {
                    "$ref": "#/components/examples/water_heater-object-example"
                  },
                  "실링팬": {
                    "$ref": "#/components/examples/ceiling_fan-object-example"
                  },
                  "공기청정팬": {
                    "$ref": "#/components/examples/air_purifier_fan-object-example"
                  },
                  "로봇청소기": {
                    "$ref": "#/components/examples/robot_cleaner-object-example"
                  },
                  "스틱청소기": {
                    "$ref": "#/components/examples/stick_cleaner-object-example"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/devices/{deviceId}/control": {
      "post": {
        "tags": [
          "Device API"
        ],
        "summary": "디바이스 제어",
        "description": "디바이스를 제어하기 위한 API입니다. 지정한 device-id에 제어 명령을 보낼 수 있습니다.",
        "parameters": [
          {
            "required": true,
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-message-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-country"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-client-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-api-key"
          },
          {
            "required": false,
            "$ref": "#/components/parameters/x-conditional-control"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "디바이스 프로파일에 정의된 제어 명령"
              },
              "examples": {
                "냉장고": {
                  "$ref": "#/components/examples/refrigerator-command-example"
                },
                "와인냉장고": {
                  "$ref": "#/components/examples/wine_cellar-command-example"
                },
                "세탁기": {
                  "$ref": "#/components/examples/washer-command-example"
                },
                "건조기": {
                  "$ref": "#/components/examples/dryer-command-example"
                },
                "스타일러": {
                  "$ref": "#/components/examples/styler-command-example"
                },
                "식기세척기": {
                  "$ref": "#/components/examples/dish_washer-command-example"
                },
                "워시타워 (세탁기)": {
                  "$ref": "#/components/examples/washtower_washer-command-example"
                },
                "워시타워 (건조기)": {
                  "$ref": "#/components/examples/washtower_dryer-command-example"
                },
                "워시타워": {
                  "$ref": "#/components/examples/washtower-command-example"
                },
                "워시콤보세탁기": {
                  "$ref": "#/components/examples/main_washcombo-command-example"
                },
                "워시콤보미니세탁기": {
                  "$ref": "#/components/examples/mini_washcombo-command-example"
                },
                "오븐": {
                  "$ref": "#/components/examples/oven-command-example"
                },
                "쿡탑": {
                  "$ref": "#/components/examples/cooktop-command-example"
                },
                "후드": {
                  "$ref": "#/components/examples/hood-command-example"
                },
                "전자레인지": {
                  "$ref": "#/components/examples/microwave_oven-command-example"
                },
                "에어컨": {
                  "$ref": "#/components/examples/air_conditioner-command-example"
                },
                "시스템보일러": {
                  "$ref": "#/components/examples/system_boiler-command-example"
                },
                "공기청정기": {
                  "$ref": "#/components/examples/air_purifier-command-example"
                },
                "제습기": {
                  "$ref": "#/components/examples/dehumidifier-command-example"
                },
                "가습기": {
                  "$ref": "#/components/examples/humidifier-command-example"
                },
                "온수기": {
                  "$ref": "#/components/examples/water_heater-command-example"
                },
                "실링팬": {
                  "$ref": "#/components/examples/ceiling_fan-command-example"
                },
                "공기청정팬": {
                  "$ref": "#/components/examples/air_purifier_fan-command-example"
                },
                "로봇청소기": {
                  "$ref": "#/components/examples/robot_cleaner-command-example"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/device-control-res"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/push": {
      "get": {
        "tags": [
          "Push API"
        ],
        "summary": "디바이스 푸시 구독 목록 조회",
        "description": "사용자가 디바이스 푸시 알림을 설정한 디바이스 목록을 조회합니다.",
        "parameters": [
          {
            "required": true,
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-message-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-country"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-client-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-api-key"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/push-list-res"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/push/{deviceId}/subscribe": {
      "post": {
        "tags": [
          "Push API"
        ],
        "summary": "디바이스 푸시 구독",
        "description": "디바이스로부터 발생하는 푸시 알림을 설정합니다.",
        "parameters": [
          {
            "required": true,
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-message-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-country"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-client-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-api-key"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/push-deviceId-res"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/push/{deviceId}/unsubscribe": {
      "delete": {
        "tags": [
          "Push API"
        ],
        "summary": "디바이스 푸시 해제",
        "description": "디바이스로부터 발생하는 푸시 알림을 해제합니다.",
        "parameters": [
          {
            "required": true,
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-message-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-country"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-client-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-api-key"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/push-deviceId-res"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/push/devices": {
      "get": {
        "tags": [
          "Push API"
        ],
        "summary": "디바이스 추가/삭제 알림 구독 클라이언트 목록 조회",
        "description": "사용자가 디바이스 추가/삭제/변경 구독을 요청한 client 목록 조회",
        "parameters": [
          {
            "required": true,
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-message-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-country"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-client-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-api-key"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/push-client-list-res"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Push API"
        ],
        "summary": "디바이스 추가/삭제 알림 클라이언트 구독",
        "description": "디바이스 추가/삭제/변경 구독을 받기 위해 client 등록 요청",
        "parameters": [
          {
            "required": true,
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-message-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-country"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-client-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-api-key"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/push-list-res"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "Push API"
        ],
        "summary": "디바이스 추가/삭제 알림 클라이언트 해제",
        "description": "디바이스 추가/삭제/변경 구독을 받기 위해 client 등록 요청",
        "parameters": [
          {
            "required": true,
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-message-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-country"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-client-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-api-key"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/push-list-res"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/event": {
      "get": {
        "tags": [
          "Event API"
        ],
        "summary": "디바이스 이벤트 구독 목록 조회",
        "description": "디바이스 상태 변경 알림을 설정한 디바이스 목록을 조회합니다.",
        "parameters": [
          {
            "required": true,
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-message-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-country"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-client-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-api-key"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/event-list-res"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/event/{deviceId}/subscribe": {
      "post": {
        "tags": [
          "Event API"
        ],
        "summary": "디바이스 이벤트 구독",
        "description": "디바이스로부터 발생하는 상태 변경 알림을 설정합니다.",
        "parameters": [
          {
            "required": true,
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-message-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-country"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-client-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-api-key"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "$ref": "#/components/schemas/event-register-req"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/event-deviceId-res"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/event/{deviceId}/unsubscribe": {
      "delete": {
        "tags": [
          "Event API"
        ],
        "summary": "디바이스 이벤트 구독 해제",
        "description": "디바이스로부터 발생하는 상태 변경 알림을 해제합니다.",
        "parameters": [
          {
            "required": true,
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-message-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-country"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-client-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-api-key"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/event-deviceId-res"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/client/certificate": {
      "post": {
        "tags": [
          "Client API"
        ],
        "summary": "클라이언트 인증서 발급",
        "description": "클라이언트의 AWS IoT 인증서, 구독 가능한 MQTT Topic 확인합니다.",
        "parameters": [
          {
            "required": true,
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-message-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-country"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-client-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-api-key"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "$ref": "#/components/schemas/client-certificate-req"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/client-certificate-res"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/client": {
      "post": {
        "tags": [
          "Client API"
        ],
        "summary": "클라이언트 등록",
        "description": "클라이언트를 등록합니다.",
        "parameters": [
          {
            "required": true,
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-message-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-country"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-client-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-api-key"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "$ref": "#/components/schemas/client-register-req"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/client-res"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "Client API"
        ],
        "summary": "클라이언트 해제",
        "description": "클라이언트를 해제합니다.",
        "parameters": [
          {
            "required": true,
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-message-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-country"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-client-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-api-key"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "$ref": "#/components/schemas/client-unregister-req"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/client-res"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/devices/energy/{deviceId}/profile": {
      "get": {
        "tags": [
          "Energy API"
        ],
        "summary": "에너지 데이터 프로파일 조회",
        "description": "가전 디바이스에서 제공하는 에너지 데이터의 프로파일을 조회하기 위한 API입니다.\n",
        "parameters": [
          {
            "required": true,
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-message-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-country"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-client-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-api-key"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/energy-profile-res"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/devices/energy/{deviceId}/usage?period={PERIOD}&startDate={START_DATE}&endDate={END_DATE}": {
      "get": {
        "tags": [
          "Energy API"
        ],
        "summary": "에너지 데이터 조회",
        "description": "가전 디바이스에서 제공하는 에너지 데이터를 조회하기 위한 API입니다.",
        "parameters": [
          {
            "required": true,
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-message-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-country"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-client-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-api-key"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/period"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/start_date"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/end_date"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/energy-usage-res"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "push_message_register_device": {
        "$ref": "#/components/schemas/register_device"
      },
      "push_message_delete_device": {
        "$ref": "#/components/schemas/delete_device"
      },
      "push_message_change_nickname": {
        "$ref": "#/components/schemas/change_nickname"
      },
      "push_message_complete_operation": {
        "$ref": "#/components/schemas/complete_operation"
      },
      "event_message": {
        "description": "이벤트 메시지",
        "type": "object",
        "properties": {
          "event": {
            "type": "object",
            "description": "이벤트에 대한 정보를 포함한 오브젝트",
            "properties": {
              "serviceId": {
                "type": "string",
                "description": "서비스 아이디"
              },
              "deviceId": {
                "type": "string",
                "description": "디바이스 식별자"
              },
              "deviceType": {
                "type": "string",
                "description": "디바이스 타입"
              },
              "report": {
                "type": "object",
                "description": "변경된 디바이스의 상태에 대해서만 전달되며, 상태에 대한 schema는 디바이스 프로파일의 디바이스 상태 응답을 참고합니다.\n"
              },
              "pushType": {
                "type": "enum",
                "description": "DEVICE_STATUS"
              },
              "userList": {
                "type": "array",
                "description": "디바이스 이벤트를 등록한 사용자 리스트",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "base-res": {
        "type": "object",
        "description": "Response Object for any device",
        "properties": {
          "messageId": {
            "type": "string",
            "description": "요청 시 헤더에 포함된 X-Message-ID 값입니다. 이 값을 응답 메시지에 포함시켜서 문제가 있을 때 확인할 수 있도록 합니다.",
            "example": "fNvdZ1brTn-wWKUlWGoSVw"
          },
          "timestamp": {
            "type": "string",
            "description": "요청이 들어왔을 때의 시간을 의미하며 ISO 8601 Format을 따릅니다.",
            "example": "2024-09-01T06:23:20.866279"
          }
        }
      },
      "route-res": {
        "description": "도메인 이름 조회 응답",
        "allOf": [
          {
            "$ref": "#/components/schemas/base-res"
          },
          {
            "type": "object",
            "properties": {
              "response": {
                "type": "object",
                "properties": {
                  "apiServer": {
                    "type": "string",
                    "description": "API 서버 도메인 이름",
                    "example": "https://api-kic.lgthinq.com"
                  },
                  "mqttServer": {
                    "type": "string",
                    "description": "MQTT 도메인 이름",
                    "example": "mqtts://a3phael99lf879-ats.iot.ap-northeast-2.amazonaws.com:8883"
                  },
                  "webSocketServer": {
                    "type": "string",
                    "description": "웹소켓 도메인 이름",
                    "example": "wss://a3phael99lf879-ats.iot.ap-northeast-2.amazonaws.com:443/mqtt"
                  }
                }
              }
            }
          }
        ]
      },
      "device-list-res": {
        "description": "디바이스 목록 조회 응답",
        "allOf": [
          {
            "$ref": "#/components/schemas/base-res"
          },
          {
            "type": "object",
            "properties": {
              "response": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "deviceId": {
                      "type": "string",
                      "description": "디바이스를 식별할 수 있는 Id",
                      "example": "eb8ce6a99e63beb7e2074409bc244f3fd6c534e40ca270b6895371f12b398660"
                    },
                    "deviceInfo": {
                      "type": "object",
                      "description": "디바이스에 대한 정보를 담은 객체",
                      "properties": {
                        "deviceType": {
                          "type": "string",
                          "description": "디바이스 가전 타입",
                          "example": "DEVICE_AIR_CONDITIONER"
                        },
                        "modelName": {
                          "type": "string",
                          "description": "디바이스 모델 이름",
                          "example": "PAC_910604_WW"
                        },
                        "alias": {
                          "type": "string",
                          "description": "디바이스 닉네임",
                          "example": "거실 에어컨"
                        },
                        "reportable": {
                          "type": "boolean",
                          "description": "디바이스 상태 변경 시 발생하는 event에 대해, event 구독 가능 여부 표시",
                          "example": true
                        },
                        "groupId": {
                          "type": "string",
                          "description": "groupId, 워시타워 (세탁기)와 워시타워 (건조기)가 디바이스 식별 Id가 구분되어서 전달되는 워시타워 그룹값을 표시하기 위한 값",
                          "example": "234506858"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "device-profile-res": {
        "description": "디바이스 프로파일 조회 응답",
        "allOf": [
          {
            "$ref": "#/components/schemas/base-res"
          },
          {
            "type": "object",
            "properties": {
              "response": {
                "type": "object",
                "description": "디바이스 프로파일 정보",
                "example": {
                  "-$ref": "../../../device-profile/air_conditioner/air_conditioner-profile-example.yaml"
                }
              }
            }
          }
        ]
      },
      "device-state-res": {
        "description": "디바이스 상태 조회 응답",
        "allOf": [
          {
            "$ref": "#/components/schemas/base-res"
          },
          {
            "type": "object",
            "properties": {
              "response": {
                "type": "object",
                "description": "디바이스 상태 정보",
                "example": {
                  "-$ref": "../../../device-profile/air_conditioner/air_conditioner-profile-example.yaml"
                }
              }
            }
          }
        ]
      },
      "device-control-res": {
        "description": "디바이스 제어 응답",
        "allOf": [
          {
            "$ref": "#/components/schemas/base-res"
          },
          {
            "type": "object",
            "properties": {
              "response": {
                "type": "object",
                "description": "성공 시 빈 dictionary가 전달됩니다.",
                "example": {}
              }
            }
          }
        ]
      },
      "push-list-res": {
        "description": "푸시 목록 조회 응답",
        "allOf": [
          {
            "$ref": "#/components/schemas/base-res"
          },
          {
            "type": "object",
            "properties": {
              "response": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "deviceId": {
                      "type": "string",
                      "description": "푸시를 구독한 디바이스 Id",
                      "example": "eb8ce6a99e63beb7e2074409bc244f3fd6c534e40ca270b6895371f12b398660"
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "push-deviceId-res": {
        "description": "푸시 구독/해제 응답",
        "allOf": [
          {
            "$ref": "#/components/schemas/base-res"
          },
          {
            "type": "object",
            "properties": {
              "response": {
                "type": "object",
                "description": "성공 시 빈 dictionary가 전달됩니다.",
                "example": {}
              }
            }
          }
        ]
      },
      "push-client-list-res": {
        "description": "사용자 푸시 clientId 목록 조회 응답",
        "allOf": [
          {
            "$ref": "#/components/schemas/base-res"
          },
          {
            "type": "object",
            "properties": {
              "response": {
                "type": "array",
                "properties": {
                  "description": "clientId list",
                  "example": [
                    "ha-connect-client-st-test-230830_1st11",
                    "ha-connect-client-st-test-230830_1st111"
                  ]
                }
              }
            }
          }
        ]
      },
      "event-list-res": {
        "description": "이벤트 구독 목록 조회 응답",
        "allOf": [
          {
            "$ref": "#/components/schemas/base-res"
          },
          {
            "type": "object",
            "properties": {
              "response": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "deviceId": {
                      "type": "string",
                      "description": "event를 구독한 디바이스 Id",
                      "example": "eb8ce6a99e63beb7e2074409bc244f3fd6c534e40ca270b6895371f12b398660"
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "event-register-req": {
        "description": "이벤트 구독 body",
        "type": "object",
        "properties": {
          "expire": {
            "type": "object",
            "description": "API 만료 시간 설정, 구독한 이후 만료 시간을 넘으면 기존에 구독한 디바이스는 자동으로 해제됩니다. 만일 구독한 디바이스에 대해 다시 구독을 할 경우 만료시간이 현재시간으로부터 갱신됩니다.",
            "properties": {
              "unit": {
                "type": "string",
                "description": "시간 단위 (고정값 - HOUR)",
                "example": "HOUR"
              },
              "timer": {
                "type": "integer",
                "description": "이벤트 구독 만료 시간을 결정합니다. (기본 1시간, 최소 1시간, 최대 24시간) \n",
                "example": 1
              }
            }
          }
        }
      },
      "event-deviceId-res": {
        "description": "이벤트 구독/해제 응답",
        "allOf": [
          {
            "$ref": "#/components/schemas/base-res"
          },
          {
            "type": "object",
            "properties": {
              "response": {
                "type": "object",
                "description": "성공 시 빈 dictionary가 전달됩니다.",
                "example": {}
              }
            }
          }
        ]
      },
      "client-certificate-req": {
        "description": "클라이언트 인증 body",
        "type": "object",
        "properties": {
          "body": {
            "type": "object",
            "description": "사용자 정보",
            "properties": {
              "service-code": {
                "type": "string",
                "description": "서비스 코드 (고정값 - SVC202)",
                "example": "SVC202"
              },
              "csr": {
                "type": "string",
                "description": "디바이스에서 자체 생성한 Private Key 기반의 CSR 데이터",
                "example": "===xzx"
              }
            }
          }
        }
      },
      "client-certificate-res": {
        "description": "클라이언트 인증서 등록 응답",
        "allOf": [
          {
            "$ref": "#/components/schemas/base-res"
          },
          {
            "type": "object",
            "properties": {
              "response": {
                "type": "object",
                "properties": {
                  "resultCode": {
                    "type": "string",
                    "description": "결과 응답 code",
                    "example": "0000"
                  },
                  "result": {
                    "type": "object",
                    "properties": {
                      "certificatePem": {
                        "type": "string",
                        "description": "AWS IoT 인증서",
                        "example": "-----BEGIN CERTIFICATE-----\nMIIEUzCCAzugAw\n-----END CERTIFICATE-----\n"
                      },
                      "subscriptions": {
                        "type": "array",
                        "desription": "클라이언트에서 MQTT subscribe가 필요한 Topic 목록 (List)",
                        "example": [
                          "app/clients/home-assistant-test-01234/push"
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "client-register-req": {
        "description": "클라이언트 구독 body",
        "type": "object",
        "properties": {
          "body": {
            "type": "object",
            "description": "사용자 정보",
            "properties": {
              "type": {
                "type": "string",
                "description": "Push type (고정값 - MQTT)",
                "example": "MQTT"
              },
              "service-code": {
                "type": "string",
                "description": "서비스 코드 (고정값 - SVC202)",
                "example": "SVC202"
              },
              "device-type": {
                "type": "string",
                "description": "클라이언트 디바이스타입 (고정값 - 607)",
                "example": "607"
              }
            }
          }
        }
      },
      "client-res": {
        "description": "클라이언트 구독/해제 응답",
        "allOf": [
          {
            "$ref": "#/components/schemas/base-res"
          },
          {
            "type": "object",
            "properties": {
              "response": {
                "type": "object",
                "description": "성공 시 빈 dictionary가 전달됩니다.",
                "example": {}
              }
            }
          }
        ]
      },
      "client-unregister-req": {
        "description": "클라이언트 해제 body",
        "type": "object",
        "properties": {
          "body": {
            "type": "object",
            "description": "사용자 정보",
            "properties": {
              "type": {
                "type": "string",
                "description": "Push type (고정값 - MQTT)",
                "example": "MQTT"
              },
              "service-code": {
                "type": "string",
                "description": "서비스 코드 (고정값 - SVC202)",
                "example": "SVC202"
              }
            }
          }
        }
      },
      "energy-profile-res": {
        "description": "디바이스 에너지 데이터 프로파일 조회 응답",
        "allOf": [
          {
            "$ref": "#/components/schemas/base-res"
          },
          {
            "type": "object",
            "properties": {
              "response": {
                "type": "object",
                "properties": {
                  "resultCode": {
                    "description": "응답 코드\n\n| Code | Description |\n|-|- |\n| 0000 | 정상 응답 |\n| 1212 | 등록되지 않은 디바이스 |\n| 1221 | 미지원 제품군/모델 |\n| 1220 | 미지원 Property |\n| 1307 | 미지원 국가 |\n| 2214 | 확인 실패 | \n",
                    "type": "string",
                    "example": "0000"
                  },
                  "result": {
                    "type": "object",
                    "description": "전달해줄 수 있는 에너지 데이터 목록",
                    "properties": {
                      "property": {
                        "type": "array",
                        "description": "Value | Description\n-|-\nenergyUsage | 전력 사용량 (워시타워, 워시콤보 메인)\nenergyUsage_washer | 세탁 전력 사용량 (워시타워, 워시콤보 메인)\nenergyUsage_dryer | 건조 전력 사용량 (워시타워, 워시콤보 메인)\nenergyUsage_washerDryer | 세탁건조 사용량 (워시콤보 메인)",
                        "items": {
                          "type": "string",
                          "example": "energyUsage"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "energy-usage-res": {
        "description": "디바이스 에너지 데이터 상태 조회 응답",
        "allOf": [
          {
            "$ref": "#/components/schemas/base-res"
          },
          {
            "type": "object",
            "properties": {
              "response": {
                "type": "object",
                "properties": {
                  "resultCode": {
                    "type": "string",
                    "description": "응답 코드\n\n| Code | Description |\n|-|- |\n| 0000 | 정상 응답 |\n| 1212 | 등록되지 않은 디바이스 |\n| 1221 | 미지원 제품군/모델 |\n| 1220 | 미지원 Property |\n| 1307 | 미지원 국가 |\n| 2214 | 확인 실패 | \n",
                    "example": "0000"
                  },
                  "result": {
                    "type": "object",
                    "description": "요청한 에너지 데이터",
                    "properties": {
                      "property": {
                        "type": "array",
                        "description": "Value | Description\n-|-\nenergyUsage | 전력 사용량 (워시타워, 워시콤보 메인)\nenergyUsage_washer | 세탁 전력 사용량 (워시타워, 워시콤보 메인)\nenergyUsage_dryer | 건조 전력 사용량 (워시타워, 워시콤보 메인)\nenergyUsage_washerDryer | 세탁건조 사용량 (워시콤보 메인)",
                        "items": {
                          "type": "string",
                          "example": "energyUsage"
                        }
                      },
                      "dataList": {
                        "type": "array",
                        "description": "요청한 날짜의 사용량",
                        "items": {
                          "type": "object",
                          "properties": {
                            "usedDate": {
                              "type": "string",
                              "description": "요청한 날짜 단위 | 형식\n-|-\nDAILY | YYYYMMDD 형식의 일 표시(ex. 20250901)\nMONTHLY | YYYYMM 형식의 월 표시(ex. 202509)",
                              "example": "20250901"
                            },
                            "useAmount": {
                              "type": "number",
                              "description": "전력 사용량",
                              "example": 10
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "register_device": {
        "description": "디바이스 등록 메시지",
        "type": "object",
        "properties": {
          "push": {
            "type": "object",
            "description": "Push 콜백 메시지",
            "properties": {
              "pushType": {
                "type": "enum",
                "description": "DEVICE_REGISTERED"
              },
              "serviceId": {
                "type": "string",
                "description": "서비스 아이디"
              },
              "deviceId": {
                "type": "string",
                "description": "디바이스 식별자"
              },
              "userNumber": {
                "type": "string",
                "description": "디바이스 사용자 식별자"
              },
              "modelName": {
                "type": "string",
                "description": "모델 이름"
              },
              "deviceType": {
                "type": "string",
                "description": "디바이스 타입"
              },
              "alias": {
                "type": "string",
                "description": "디바이스 닉네임"
              }
            }
          }
        }
      },
      "delete_device": {
        "description": "디바이스 삭제 메시지",
        "type": "object",
        "properties": {
          "push": {
            "type": "object",
            "description": "Push 콜백 메시지",
            "properties": {
              "pushType": {
                "type": "enum",
                "description": "DEVICE_UNREGISTERED"
              },
              "serviceId": {
                "type": "string",
                "description": "서비스 아이디"
              },
              "deviceId": {
                "type": "string",
                "description": "디바이스 식별자"
              },
              "userNumber": {
                "type": "string",
                "description": "디바이스 사용자 식별자"
              },
              "deviceType": {
                "type": "string",
                "description": "디바이스 타입"
              },
              "alias": {
                "type": "string",
                "description": "디바이스 닉네임"
              }
            }
          }
        }
      },
      "change_nickname": {
        "description": "디바이스 닉네임 변경 메시지",
        "type": "object",
        "properties": {
          "push": {
            "type": "object",
            "description": "Push 콜백 메시지",
            "properties": {
              "pushType": {
                "type": "enum",
                "description": "DEVICE_ALIAS_CHANGED"
              },
              "serviceId": {
                "type": "string",
                "description": "서비스 아이디"
              },
              "deviceId": {
                "type": "string",
                "description": "디바이스 식별자"
              },
              "userNumber": {
                "type": "string",
                "description": "디바이스 사용자 식별자"
              },
              "alias": {
                "type": "string",
                "description": "디바이스 닉네임"
              }
            }
          }
        }
      },
      "complete_operation": {
        "description": "디바이스 동작 완료 메시지",
        "type": "object",
        "properties": {
          "push": {
            "type": "object",
            "description": "Push에 대한 정보를 포함하는 오브젝트",
            "properties": {
              "pushType": {
                "type": "enum",
                "description": "DEVICE_PUSH"
              },
              "serviceId": {
                "type": "string",
                "description": "서비스 아이디"
              },
              "deviceId": {
                "type": "string",
                "description": "디바이스 식별자"
              },
              "pushCode": {
                "type": "string",
                "description": "디바이스 동작 완료 메시지 (예: 세탁기-세탁 완료, 공기청정기-필터 교체)\n"
              },
              "deviceType": {
                "type": "string",
                "description": "디바이스 타입"
              },
              "userList": {
                "type": "array",
                "description": "디바이스 푸쉬를 등록한 사용자 리스트",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "examples": {
      "push_message_register_device_example": {
        "$ref": "#/components/examples/register_device_example"
      },
      "push_message_delete_device_example": {
        "$ref": "#/components/examples/delete_device_example"
      },
      "push_message_change_nickname_example": {
        "$ref": "#/components/examples/change_nickname_example"
      },
      "push_message_complete_operation_example": {
        "$ref": "#/components/examples/complete_operation_example"
      },
      "event_message_example": {
        "description": "에어컨 - 운전 모드 ON",
        "value": {
          "messageId": "W1FKFRBZRkiuFAfU9pb6kw",
          "timestamp": "2019-06-20T01:14:27.069000",
          "event": {
            "pushType": "DEVICE_STATUS",
            "serviceId": "6b2011e7ff026e984215522d",
            "deviceId": "HW1-69C3EDD9-1993-4442-B139-794CA5997ECA",
            "report": {
              "operation": {
                "airConOperationMode": "POWER_ON"
              }
            },
            "deviceType": "DEVICE_WASHER",
            "userList": [
              "KR1910213944934"
            ]
          }
        }
      },
      "refrigerator-profile-example": {
        "value": {
          "property": {
            "temperature": [
              {
                "locationName": "FRIDGE",
                "unit": "C",
                "targetTemperature": {
                  "type": "range",
                  "mode": [
                    "r",
                    "w"
                  ],
                  "value": {
                    "r": {
                      "max": 7,
                      "min": 0,
                      "step": 1
                    },
                    "w": {
                      "max": 7,
                      "min": 0,
                      "step": 1
                    }
                  }
                }
              },
              {
                "locationName": "FREEZER",
                "unit": "C",
                "targetTemperature": {
                  "type": "range",
                  "mode": [
                    "r",
                    "w"
                  ],
                  "value": {
                    "r": {
                      "max": -16,
                      "min": -21,
                      "step": 1
                    },
                    "w": {
                      "max": -16,
                      "min": -21,
                      "step": 1
                    }
                  }
                }
              }
            ],
            "temperatureInUnits": [
              {
                "targetTemperatureC": {
                  "type": "range",
                  "mode": [
                    "r",
                    "w"
                  ],
                  "value": {
                    "r": {
                      "max": 8,
                      "min": 1,
                      "step": 1
                    },
                    "w": {
                      "max": 8,
                      "min": 1,
                      "step": 1
                    }
                  }
                },
                "targetTemperatureF": {
                  "type": "range",
                  "mode": [
                    "r",
                    "w"
                  ],
                  "value": {
                    "r": {
                      "max": 46,
                      "min": 33,
                      "step": 1
                    },
                    "w": {
                      "max": 46,
                      "min": 33,
                      "step": 1
                    }
                  }
                },
                "unit": {
                  "type": "enum",
                  "mode": [
                    "r"
                  ],
                  "value": {
                    "r": [
                      "C",
                      "F"
                    ]
                  }
                },
                "locationName": "FRIDGE"
              },
              {
                "targetTemperatureC": {
                  "type": "range",
                  "mode": [
                    "r",
                    "w"
                  ],
                  "value": {
                    "r": {
                      "max": -13,
                      "min": -21,
                      "step": 1
                    },
                    "w": {
                      "max": -13,
                      "min": -21,
                      "step": 1
                    }
                  }
                },
                "targetTemperatureF": {
                  "type": "range",
                  "mode": [
                    "r",
                    "w"
                  ],
                  "value": {
                    "r": {
                      "max": 8,
                      "min": -6,
                      "step": 1,
                      "except": [
                        -5,
                        7
                      ]
                    },
                    "w": {
                      "max": 8,
                      "min": -6,
                      "step": 1,
                      "except": [
                        -5,
                        7
                      ]
                    }
                  }
                },
                "unit": {
                  "type": "enum",
                  "mode": [
                    "r"
                  ],
                  "value": {
                    "r": [
                      "C",
                      "F"
                    ]
                  }
                },
                "locationName": "FREEZER"
              }
            ],
            "refrigeration": {
              "expressMode": {
                "type": "boolean",
                "mode": [
                  "r",
                  "w"
                ],
                "value": {
                  "r": [
                    true,
                    false
                  ],
                  "w": [
                    true,
                    false
                  ]
                }
              },
              "expressModeName": {
                "type": "enum",
                "mode": [
                  "r"
                ],
                "value": {
                  "r": [
                    "FREEZER"
                  ]
                }
              },
              "freshAirFilter": {
                "type": "enum",
                "mode": [
                  "r",
                  "w"
                ],
                "value": {
                  "r": [
                    "OFF",
                    "AUTO"
                  ],
                  "w": [
                    "OFF",
                    "AUTO"
                  ]
                }
              }
            },
            "doorStatus": [
              {
                "doorState": {
                  "type": "enum",
                  "mode": [
                    "r"
                  ],
                  "value": {
                    "r": [
                      "OPEN",
                      "CLOSE"
                    ]
                  }
                },
                "locationName": "MAIN"
              }
            ],
            "waterFilterInfo": {
              "usedTime": {
                "type": "number",
                "mode": [
                  "r"
                ]
              }
            }
          },
          "notification": {
            "push": [
              "TIME_TO_CHANGE_WATER_FILTER",
              "TIME_TO_CHANGE_FILTER",
              "DOOR_IS_OPEN",
              "FROZEN_IS_COMPLETE"
            ]
          }
        }
      },
      "water_purifier-profile-example": {
        "value": {
          "property": {
            "runState": {
              "cockState": {
                "mode": [
                  "r"
                ],
                "type": "enum",
                "value": {
                  "r": [
                    "CLEANING",
                    "NORMAL"
                  ]
                }
              }
            },
            "waterInfo": {
              "waterType": {
                "mode": [
                  "r"
                ],
                "type": "list",
                "value": {
                  "r": [
                    "COLD",
                    "NORMAL",
                    "HOT",
                    "SODA"
                  ]
                }
              }
            }
          }
        }
      },
      "wine_cellar-profile-example": {
        "value": {
          "property": {
            "temperature": [
              {
                "locationName": "WINE_UPPER",
                "unit": "C",
                "targetTemperature": {
                  "type": "range",
                  "mode": [
                    "r",
                    "w"
                  ],
                  "value": {
                    "r": {
                      "max": 18,
                      "min": 5,
                      "step": 1,
                      "except": []
                    },
                    "w": {
                      "max": 18,
                      "min": 5,
                      "step": 1,
                      "except": []
                    }
                  }
                }
              },
              {
                "locationName": "WINE_LOWER",
                "unit": "C",
                "targetTemperature": {
                  "type": "range",
                  "mode": [
                    "r",
                    "w"
                  ],
                  "value": {
                    "r": {
                      "max": 18,
                      "min": 5,
                      "step": 1,
                      "except": []
                    },
                    "w": {
                      "max": 18,
                      "min": 5,
                      "step": 1,
                      "except": []
                    }
                  }
                }
              }
            ],
            "temperatureInUnits": [
              {
                "locationName": "WINE_UPPER",
                "targetTemperatureC": {
                  "type": "range",
                  "mode": [
                    "r",
                    "w"
                  ],
                  "value": {
                    "r": {
                      "max": 18,
                      "min": 11,
                      "step": 1,
                      "except": []
                    },
                    "w": {
                      "max": 18,
                      "min": 11,
                      "step": 1,
                      "except": []
                    }
                  }
                },
                "targetTemperatureF": {
                  "type": "range",
                  "mode": [
                    "r",
                    "w"
                  ],
                  "value": {
                    "r": {
                      "max": 18,
                      "min": 11,
                      "step": 1,
                      "except": []
                    },
                    "w": {
                      "max": 18,
                      "min": 11,
                      "step": 1,
                      "except": []
                    }
                  }
                },
                "unit": {
                  "type": "enum",
                  "mode": [
                    "r"
                  ],
                  "value": {
                    "r": [
                      "C",
                      "F"
                    ]
                  }
                }
              },
              {
                "locationName": "WINE_LOWER",
                "targetTemperatureC": {
                  "type": "range",
                  "mode": [
                    "r",
                    "w"
                  ],
                  "value": {
                    "r": {
                      "max": 11,
                      "min": 5,
                      "step": 1,
                      "except": []
                    },
                    "w": {
                      "max": 11,
                      "min": 5,
                      "step": 1,
                      "except": []
                    }
                  }
                },
                "targetTemperatureF": {
                  "type": "range",
                  "mode": [
                    "r",
                    "w"
                  ],
                  "value": {
                    "r": {
                      "max": 11,
                      "min": 5,
                      "step": 1,
                      "except": []
                    },
                    "w": {
                      "max": 11,
                      "min": 5,
                      "step": 1,
                      "except": []
                    }
                  }
                },
                "unit": {
                  "type": "enum",
                  "mode": [
                    "r"
                  ],
                  "value": {
                    "r": [
                      "C",
                      "F"
                    ]
                  }
                }
              }
            ],
            "operation": {
              "lightStatus": {
                "type": "range",
                "mode": [
                  "r",
                  "w"
                ],
                "value": {
                  "r": {
                    "max": 100,
                    "min": 0,
                    "step": 10
                  },
                  "w": {
                    "max": 100,
                    "min": 0,
                    "step": 10
                  }
                }
              }
            }
          },
          "notification": {
            "push": [
              "DOOR_IS_OPEN"
            ]
          }
        }
      },
      "kimchi_refrigerator-profile-example": {
        "value": {
          "notification": {
            "push": [
              "DOOR_IS_OPEN"
            ]
          },
          "property": {
            "refrigeration": {
              "oneTouchFilter": {
                "mode": [
                  "r"
                ],
                "type": "enum",
                "value": {
                  "r": [
                    "OFF",
                    "ON"
                  ]
                }
              }
            },
            "temperature": [
              {
                "locationName": "TOP",
                "targetTemperature": {
                  "mode": [
                    "r"
                  ],
                  "type": "enum",
                  "value": {
                    "r": [
                      "FREEZER",
                      "FRIDGE",
                      "KIMCHI",
                      "OFF"
                    ]
                  }
                }
              },
              {
                "locationName": "MIDDLE",
                "targetTemperature": {
                  "mode": [
                    "r"
                  ],
                  "type": "enum",
                  "value": {
                    "r": [
                      "VEGETABLE_FRUIT",
                      "KIMCHI",
                      "MEAT_FISH",
                      "OFF"
                    ]
                  }
                }
              },
              {
                "locationName": "BOTTOM",
                "targetTemperature": {
                  "mode": [
                    "r"
                  ],
                  "type": "enum",
                  "value": {
                    "r": [
                      "KIMCHI",
                      "STORAGE",
                      "OFF",
                      "VEGETABLE_FRUIT",
                      "RICE_GRAIN"
                    ]
                  }
                }
              }
            ]
          }
        }
      },
      "home_brew-profile-example": {
        "value": {
          "property": {
            "recipe": {
              "beerRemain": {
                "mode": [
                  "r"
                ],
                "type": "range",
                "value": {
                  "r": {
                    "max": 100,
                    "min": 0,
                    "step": 1
                  }
                }
              },
              "flavorInfo": {
                "mode": [
                  "r"
                ],
                "type": "list",
                "value": {
                  "r": [
                    "ORANGE",
                    "CORIANDER",
                    "CORIANDER_SEED"
                  ]
                }
              },
              "flavorCapsule1": {
                "mode": [
                  "r"
                ],
                "type": "enum",
                "value": {
                  "r": [
                    "ORANGE",
                    "CORIANDER"
                  ]
                }
              },
              "flavorCapsule2": {
                "mode": [
                  "r"
                ],
                "type": "enum",
                "value": {
                  "r": [
                    "ORANGE",
                    "CORIANDER_SEED"
                  ]
                }
              },
              "hopOilInfo": {
                "mode": [
                  "r"
                ],
                "type": "list",
                "value": {
                  "r": [
                    "FUGGLES",
                    "CASCADE",
                    "HALLERTAU",
                    "CITRUSSY",
                    "GOLDINGS",
                    "CHINOOK"
                  ]
                }
              },
              "hopOilCapsule1": {
                "mode": [
                  "r"
                ],
                "type": "enum",
                "value": {
                  "r": [
                    "FUGGLES",
                    "CASCADE",
                    "HALLERTAU",
                    "CITRUSSY",
                    "GOLDINGS",
                    "CHINOOK"
                  ]
                }
              },
              "hopOilCapsule2": {
                "mode": [
                  "r"
                ],
                "type": "enum",
                "value": {
                  "r": [
                    "FUGGLES",
                    "CASCADE",
                    "HALLERTAU",
                    "CITRUSSY",
                    "GOLDINGS",
                    "CHINOOK"
                  ]
                }
              },
              "recipeName": {
                "mode": [
                  "r"
                ],
                "type": "enum",
                "value": {
                  "r": [
                    "PALE_ALE",
                    "MY_RECIPE",
                    "RED_ALE",
                    "STOUT",
                    "WHEAT",
                    "PILSNER",
                    "IPA"
                  ]
                }
              },
              "wortInfo": {
                "mode": [
                  "r"
                ],
                "type": "enum",
                "value": {
                  "r": [
                    "DARK",
                    "HOPPY",
                    "WHEAT",
                    "DEEP_GOLD"
                  ]
                }
              },
              "yeastInfo": {
                "mode": [
                  "r"
                ],
                "type": "enum",
                "value": {
                  "r": [
                    "ENGLISH_ALE",
                    "AMERICAN_ALE",
                    "LAGER",
                    "WEIZEN"
                  ]
                }
              }
            },
            "runState": {
              "currentState": {
                "mode": [
                  "r"
                ],
                "type": "enum",
                "value": {
                  "r": [
                    "PREPAREING_FERMENTATION",
                    "STANDBY",
                    "DURING_FERMENTATION",
                    "TEMPERATURE_STABILIZATION",
                    "EXTRACTION_MODE",
                    "DURING_AGING",
                    "EXTRACTING_CAPSULE",
                    "MELTING",
                    "AS_POP_UP",
                    "CARBONATION"
                  ]
                }
              }
            },
            "timer": {
              "elapsedDayState": {
                "mode": [
                  "r"
                ],
                "type": "range",
                "value": {
                  "r": {
                    "max": 2731,
                    "min": 0,
                    "step": 1
                  }
                }
              },
              "elapsedDayTotal": {
                "mode": [
                  "r"
                ],
                "type": "range",
                "value": {
                  "r": {
                    "max": 2731,
                    "min": 0,
                    "step": 1
                  }
                }
              }
            }
          }
        }
      },
      "plant_cultivator-profile-example": {
        "value": {
          "property": [
            {
              "location": {
                "locationName": "UPPER"
              },
              "runState": {
                "currentState": {
                  "type": "enum",
                  "mode": [
                    "r"
                  ],
                  "value": {
                    "r": [
                      "POWER_ON",
                      "POWER_OFF"
                    ]
                  }
                },
                "growthMode": {
                  "type": "enum",
                  "mode": [
                    "r"
                  ],
                  "value": {
                    "r": [
                      "STANDARD",
                      "EXT_FLOWER",
                      "EXT_HERB",
                      "EXT_LEAF",
                      "EXT_EXPERT"
                    ]
                  }
                },
                "windVolume": {
                  "type": "range",
                  "mode": [
                    "r"
                  ],
                  "value": {
                    "r": {
                      "min": 1,
                      "max": 3,
                      "step": 1
                    }
                  }
                }
              },
              "light": {
                "brightness": {
                  "type": "range",
                  "mode": [
                    "r"
                  ],
                  "value": {
                    "r": {
                      "min": 1,
                      "max": 5,
                      "step": 1
                    }
                  }
                },
                "duration": {
                  "type": "range",
                  "mode": [
                    "r"
                  ],
                  "value": {
                    "r": {
                      "min": 10,
                      "max": 18,
                      "step": 1
                    }
                  }
                },
                "startHour": {
                  "type": "range",
                  "mode": [
                    "r"
                  ],
                  "value": {
                    "r": {
                      "min": 0,
                      "max": 23,
                      "step": 1
                    }
                  }
                },
                "startMinute": {
                  "type": "range",
                  "mode": [
                    "r"
                  ],
                  "value": {
                    "r": {
                      "min": 0,
                      "max": 50,
                      "step": 10
                    }
                  }
                },
                "endHour": {
                  "type": "range",
                  "mode": [
                    "r"
                  ],
                  "value": {
                    "r": {
                      "min": 0,
                      "max": 23,
                      "step": 1
                    }
                  }
                },
                "endMinute": {
                  "type": "range",
                  "mode": [
                    "r"
                  ],
                  "value": {
                    "r": {
                      "min": 0,
                      "max": 50,
                      "step": 10
                    }
                  }
                }
              },
              "temperature": {
                "dayTargetTemperature": {
                  "type": "range",
                  "mode": [
                    "r"
                  ],
                  "value": {
                    "r": {
                      "min": 22,
                      "max": 29,
                      "step": 1
                    }
                  }
                },
                "nightTargetTemperature": {
                  "type": "range",
                  "mode": [
                    "r"
                  ],
                  "value": {
                    "r": {
                      "min": 15,
                      "max": 21,
                      "step": 1
                    }
                  }
                }
              }
            },
            {
              "location": {
                "locationName": "LOWER"
              },
              "runState": {
                "currentState": {
                  "type": "enum",
                  "mode": [
                    "r"
                  ],
                  "value": {
                    "r": [
                      "POWER_ON",
                      "POWER_OFF"
                    ]
                  }
                },
                "growthMode": {
                  "type": "enum",
                  "mode": [
                    "r"
                  ],
                  "value": {
                    "r": [
                      "STANDARD",
                      "EXT_FLOWER",
                      "EXT_HERB",
                      "EXT_LEAF",
                      "EXT_EXPERT"
                    ]
                  }
                },
                "windVolume": {
                  "type": "range",
                  "mode": [
                    "r"
                  ],
                  "value": {
                    "r": {
                      "min": 1,
                      "max": 3,
                      "step": 1
                    }
                  }
                }
              },
              "light": {
                "brightness": {
                  "type": "range",
                  "mode": [
                    "r"
                  ],
                  "value": {
                    "r": {
                      "min": 1,
                      "max": 5,
                      "step": 1
                    }
                  }
                },
                "duration": {
                  "type": "range",
                  "mode": [
                    "r"
                  ],
                  "value": {
                    "r": {
                      "min": 10,
                      "max": 18,
                      "step": 1
                    }
                  }
                },
                "startHour": {
                  "type": "range",
                  "mode": [
                    "r"
                  ],
                  "value": {
                    "r": {
                      "min": 0,
                      "max": 23,
                      "step": 1
                    }
                  }
                },
                "startMinute": {
                  "type": "range",
                  "mode": [
                    "r"
                  ],
                  "value": {
                    "r": {
                      "min": 0,
                      "max": 50,
                      "step": 10
                    }
                  }
                },
                "endHour": {
                  "type": "range",
                  "mode": [
                    "r"
                  ],
                  "value": {
                    "r": {
                      "min": 0,
                      "max": 23,
                      "step": 1
                    }
                  }
                },
                "endMinute": {
                  "type": "range",
                  "mode": [
                    "r"
                  ],
                  "value": {
                    "r": {
                      "min": 0,
                      "max": 50,
                      "step": 10
                    }
                  }
                }
              },
              "temperature": {
                "dayTargetTemperature": {
                  "type": "range",
                  "mode": [
                    "r"
                  ],
                  "value": {
                    "r": {
                      "min": 22,
                      "max": 29,
                      "step": 1
                    }
                  }
                },
                "nightTargetTemperature": {
                  "type": "range",
                  "mode": [
                    "r"
                  ],
                  "value": {
                    "r": {
                      "min": 15,
                      "max": 21,
                      "step": 1
                    }
                  }
                }
              }
            }
          ]
        }
      },
      "washer-profile-example": {
        "value": {
          "error": [
            "DOOR_OPEN_ERROR",
            "TEMPERATURE_SENSOR_ERROR",
            "OUT_OF_BALANCE_ERROR",
            "WATER_LEVEL_SENSOR_ERROR",
            "LOCKED_MOTOR_ERROR",
            "WATER_DRAIN_ERROR",
            "UNABLE_TO_LOCK_ERROR",
            "OVERFILL_ERROR",
            "WATER_SUPPLY_ERROR"
          ],
          "notification": {
            "push": [
              "WASHING_IS_COMPLETE",
              "ERROR_DURING_WASHING"
            ]
          },
          "property": [
            {
              "detergent": {
                "detergentSetting": "NORMAL"
              },
              "cycle": {
                "cycleCount": {
                  "type": "number",
                  "mode": [
                    "r"
                  ]
                }
              },
              "location": {
                "locationName": "MAIN"
              },
              "operation": {
                "washerOperationMode": {
                  "mode": [
                    "w"
                  ],
                  "type": "enum",
                  "value": {
                    "w": [
                      "START",
                      "STOP",
                      "POWER_OFF"
                    ]
                  }
                }
              },
              "remoteControlEnable": {
                "remoteControlEnabled": {
                  "mode": [
                    "r"
                  ],
                  "type": "boolean",
                  "value": {
                    "r": [
                      false,
                      true
                    ]
                  }
                }
              },
              "runState": {
                "currentState": {
                  "mode": [
                    "r"
                  ],
                  "type": "enum",
                  "value": {
                    "r": [
                      "RUNNING",
                      "INITIAL",
                      "RINSING",
                      "SPINNING",
                      "FIRMWARE",
                      "RESERVED",
                      "PAUSE",
                      "POWER_OFF",
                      "DETECTING",
                      "END",
                      "SOAKING",
                      "ERROR"
                    ]
                  }
                }
              },
              "timer": {
                "relativeHourToStart": {
                  "mode": [
                    "r",
                    "w"
                  ],
                  "type": "range",
                  "value": {
                    "r": {
                      "except": [],
                      "max": 19,
                      "min": 0,
                      "step": 1
                    },
                    "w": {
                      "except": [],
                      "max": 19,
                      "min": 0,
                      "step": 1
                    }
                  }
                },
                "relativeMinuteToStart": {
                  "mode": [
                    "r"
                  ],
                  "type": "range",
                  "value": {
                    "r": {
                      "except": [],
                      "max": 59,
                      "min": 0,
                      "step": 1
                    }
                  }
                },
                "remainHour": {
                  "mode": [
                    "r"
                  ],
                  "type": "range",
                  "value": {
                    "r": {
                      "except": [],
                      "max": 30,
                      "min": 0,
                      "step": 1
                    }
                  }
                },
                "remainMinute": {
                  "mode": [
                    "r"
                  ],
                  "type": "range",
                  "value": {
                    "r": {
                      "except": [],
                      "max": 59,
                      "min": 0,
                      "step": 1
                    }
                  }
                },
                "totalHour": {
                  "mode": [
                    "r"
                  ],
                  "type": "range",
                  "value": {
                    "r": {
                      "except": [],
                      "max": 30,
                      "min": 0,
                      "step": 1
                    }
                  }
                },
                "totalMinute": {
                  "mode": [
                    "r"
                  ],
                  "type": "range",
                  "value": {
                    "r": {
                      "except": [],
                      "max": 59,
                      "min": 0,
                      "step": 1
                    }
                  }
                }
              }
            }
          ]
        }
      },
      "dryer-profile-example": {
        "value": {
          "error": [
            "DOOR_SENSOR_ERROR",
            "COMPRESSOR_ERROR",
            "TEMPERATURE_SENSOR_ERROR",
            "DRAINMOTOR_ERROR",
            "EMPTY_WATER_ALERT_ERROR",
            "MOTOR_LOCK_ERROR",
            "DOOR_OPEN_ERROR",
            "HIGH_TEMPERATURE_DETECTION_ERROR",
            "DOOR_LOCK_ERROR",
            "NO_FILTER_ERROR"
          ],
          "notification": {
            "push": [
              "DRYING_IS_COMPLETE",
              "DRYING_FAILED"
            ]
          },
          "property": {
            "operation": {
              "dryerOperationMode": {
                "mode": [
                  "w"
                ],
                "type": "enum",
                "value": {
                  "w": [
                    "START",
                    "STOP",
                    "POWER_OFF",
                    "WAKE_UP"
                  ]
                }
              }
            },
            "remoteControlEnable": {
              "remoteControlEnabled": {
                "mode": [
                  "r"
                ],
                "type": "boolean",
                "value": {
                  "r": [
                    false,
                    true
                  ]
                }
              }
            },
            "runState": {
              "currentState": {
                "mode": [
                  "r"
                ],
                "type": "enum",
                "value": {
                  "r": [
                    "INITIAL",
                    "ERROR",
                    "SLEEP",
                    "DETECTING",
                    "COOLING",
                    "WRINKLE_CARE",
                    "RESERVED",
                    "POWER_OFF",
                    "RUNNING",
                    "PAUSE",
                    "END"
                  ]
                }
              }
            },
            "timer": {
              "relativeHourToStop": {
                "mode": [
                  "r",
                  "w"
                ],
                "type": "range",
                "value": {
                  "r": {
                    "max": 19,
                    "min": 3
                  },
                  "w": {
                    "max": 19,
                    "min": 3
                  }
                }
              },
              "relativeMinuteToStop": {
                "mode": [
                  "r"
                ],
                "type": "number"
              },
              "remainHour": {
                "mode": [
                  "r"
                ],
                "type": "number"
              },
              "remainMinute": {
                "mode": [
                  "r"
                ],
                "type": "number"
              },
              "totalHour": {
                "mode": [
                  "r"
                ],
                "type": "number"
              },
              "totalMinute": {
[...]
